﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/login_.css" />
    <link rel="stylesheet" href="~/css/RoleControl.css" />

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @RenderSection("scripts", required: false)
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <title>@ViewData["Title"] - To do list</title>
</head>
<body>
    <header>
        <nav>
            <partial name="MainNavLayoutPartial" />
            <hr />
        </nav>
    </header>

    <main>
        <article class="col-md-10 col-md-offset-1">
            @RenderBody()
        </article>
    </main>

    <footer class="col-md-10 col-md-offset-1">
        <hr />
        <div class="kek">

            <span>Copyright. TodolistProj. Kirill Lukyanenko Just trying Bootstrap #goodluck #lol</span>

        </div>
    </footer>
   </body>
</html>
    