﻿@using Microsoft.AspNetCore.Identity
@using TodolistProject.Core.Models.UserModels;
@inject UserManager<CommonUser> UserManager
@inject SignInManager<CommonUser> SignInManager

@if (SignInManager.IsSignedIn(User))
{
    <ul class="nav nav-pills nav-fill">
        <li class="nav-item ">
            <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        </li>

        <li class="nav-item ">
            <a asp-area="" asp-controller="Task" asp-action="CreateTask">Create new task</a>
        <li class="nav-item active">
            <a asp-area="" asp-controller="Task" asp-action="ShowAllTasks">Show all tasks</a>
        </li>

        @if (User.IsInRole("admin"))
        {
            <li class="nav-item ">
                <a asp-area="" asp-controller="Role" asp-action="ShowAllRoles">Admin control</a>
            </li>
        }

        <li class="pull-right nav navbar-nav">
            <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" id="logoutForm">
                <button type="submit" class="btn btn-link navbar-btn" id="logout_button">Logout</button>
            </form>
        </li>
        <li class="pull-right nav navbar-nav">
            <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
        </li>
    </ul>
}
else
{

    <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
            <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        </li>
        <li class="pull-right">
            <a asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="pull-right">
            <a asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    </ul>

}
