﻿@model TodolistProject.Core.Models.TaskViewModel.TaskViewModel

@{
    ViewData["Title"] = "CreateTask";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CreateTask</h2>
<br />
<hr />
<div class="row">
    <div class="col-md-4">
      
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <br />
                <label asp-for="TaskName" class="control-label"></label>
                <input asp-for="TaskName" id ="taskName" class="form-control" />
                <span asp-validation-for="TaskName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TaskDescription" class="control-label"></label>
                <input asp-for="TaskDescription" id ="taskDesk" class="form-control" />
                <span asp-validation-for="TaskDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Priority" class="control-label"></label>
                @Html.DropDownList("priority", new SelectList(Model.SelectListPriority), new { htmlAttributes = new { @class = "form-control" } })

                <span asp-validation-for="Priority" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" id="SendButton" class="btn btn-default" />
            </div>
       
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>  
<script>
    $('#SendButton').click(function () {
        var TaskViewModel =
        {
            "TaskName": $("#taskName").val(),
            "TaskDescription": $("#taskDesk").val(),
            "Priority": $("#priority").val()
        };
        $.ajax({
            url: "CTask",
            method: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            beforeSend: function (xhr) {
                xhr.setRequestHeader("XSRF-TOKEN",
                    $('input:hidden[name="__RequestVerificationToken"]').val());
            },
            data: JSON.stringify(TaskViewModel)
        }).done(function (data) {
            alert(data.taskDescription)
        })
    })
</script>