﻿@model TodolistProject.Core.Models.TaskViewModel.TasksViewModel
@using TodolistProject.Domain.Enums
@{
    ViewData["Title"] = "All user tasks";
    var tempFilterList = Enum.GetNames(typeof(UserTaskPriority)).ToList();
    tempFilterList.Insert(0, "All");
    SelectList filter = new SelectList(tempFilterList);
}
<h2>Main page</h2>
<br />
<div class="row">
    <div class="col-md-6">
        <span><b>Select filter type:</b></span>
        @Html.DropDownList("Filter_priority", filter, new { @class = "form-control filter_select_list" })
    </div>
    <div class="col-md-offset-8">
        <span><b>Create new task: </b></span>
        <button class="btn btn-warning add-task-btn" type="button">Add new +</button>
    </div>
</div>
<br />
<hr />
<div id="loadAll">
    @if (Model.Tasks.Count != 0)
    {
        <div class="row">
            <div class="col-md-12">
                <br />

                @foreach (var item in Model.Tasks)
                {
                    <div class="row">
                        <div class="col-md-8">
                            <h4>Task name:</h4>
                            <div>
                                @item.TaskName
                            </div>

                        </div>
                        <div class="col-md-1">@item.Status</div>
                        <div class="col-md-3">
                            <span class="text_priority_head">Priority: </span>
                            <span> @item.Priority</span>
                            <div id="delete">
                                <br />
                                <button class="btn btn-primary" id="deleteButton" name="@item.Id">Delete</button>
                                <a class="btn btn-primary" asp-action="EditTask">Edit</a>
                            </div>
                        </div>
                        <br />
                    </div>
                    <div class="row">
                        <div class="col-md-9">
                            <h4>Task description:</h4>
                            <div>
                                @item.TaskDescription
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div>
                                <br />
                                <a class="btn btn-success add_new_button" asp-action="FinishTask" asp-route-id="@item.Id">Finish task</a>
                            </div>
                        </div>
                    </div>

                    if (item.Id != Model.Tasks[Model.Tasks.Count - 1].Id)
                    {
                        <br />
                        <hr />
                        <br />

                    }
                    else
                    {
                        <br />
                    }

                }
            </div>
        </div>
    }
    else
    {
        <div>
            <br />
            No tasks.
        </div>
    }
</div>
<div class="modal fade " id="newAddUserTaskModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title">Add new user task</h4>
            </div>
            <div class="modal-body modal_style">
                <p>
                    <div>Task name:</div>
                    <input type="text" required="" id="taskName" class="form-control" />
                </p>
                <p>
                    <div>Task description:</div>
                    <textarea name="taskDescription" id="taskDescription" rows="5" class="form-control"></textarea>
                </p>
                <p>
                    <div>Task priority:</div>
                    @Html.DropDownList("priority", new SelectList(new List<string>() { "Strong", "Middle", "Weak" }), new { @class = "form-control " })
                </p>
                <button class="btn btn-info modal_SendButton" id="modal_SendButton" data-dismiss="modal">Add</button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default close-modal" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<script>
    //вызов модального окна
    $(".add-task-btn").click(function (e) {
        e.preventDefault();
        $('#newAddUserTaskModal').modal();
    });
    //Код кнопки создания (в модальном окне которая)
    $('#modal_SendButton').click(function () {
        var TaskViewModel =
        {
            "TaskName": $("#taskName").val(),
            "TaskDescription": $("#taskDescription").val(),
            "Priority": $("#priority").val()
        };
        $.ajax({
            url: "CreateTask",
            method: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            beforeSend: function (xhr) {
                xhr.setRequestHeader("XSRF-TOKEN",
                    $('input:hidden[name="__RequestVerificationToken"]').val());
            },
            data: JSON.stringify(TaskViewModel)
        }).done(function () {
            $("#loadAll").load(location.href + " #loadAll");
            alert("Task succesfully added!");
        })
    })

    //Код кнопки удаления
    $("body").on("click", "#deleteButton", function () {
        var id = $(this).attr("name"); //получаем элемент у которого было вызванно событие onclick
        $.ajax({
            url: "DeleteTask?id=" + id,
            type: "POST",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
        }).done(function (id) {
            //здесь я перезагружаю часть блока, у которого id = loadAll, то есть, он перезагружает мой цикл foreach и т.д.
            $("#loadAll").load(location.href + " #loadAll");
            alert("Task succesfully removed!");
        })
    })

    $('#Filter_priority').change(function () {
        var filter = $("#Filter_priority option:selected").text();
        $("#loadAll").load(location.href + "?filter=" + filter + " #loadAll");
        alert(filter);
    })
</script>