﻿@model TodolistProject.Core.Models.RoleViewModels.ChangeRoleViewModel
@using Microsoft.AspNetCore.Identity
@using TodolistProject.Core.Models.UserModels;
@inject UserManager<CommonUser> UserManager
@inject RoleManager<IdentityRole> RoleManager

@{
    ViewData["Title"] = "ShowAllRoles";
}

<div>
    <h2>Change user roles:</h2>
    <br />
    <div>
        <span><b>Roles: &nbsp;</b></span>
        @for (int i = 0; i < Model.AllRoles.Count; i++)
        {
            <span>@Model.AllRoles[i].Name</span>
            if (i != Model.AllRoles.Count - 1)
            {
                <span>,&nbsp;</span>
            }
        }
    </div>
</div>
<br />
<div>
    <div class="row">
        <div class="col-md-6">
            <span><b>Select filter type:</b></span>
            @Html.DropDownList("Filter_priority", new SelectList(new List<string>() { "All", "Strong", "Middle", "Weak" }), new { @class = "form-control filter_select_list" })
        </div>
        <div class=" add_role_div">
            <span><b>Add role: </b></span>
            <button class="btn btn-warning add-task-btn" type="button">Add new +</button>
        </div>

    </div>
    <br />
    <hr />

    <div class="row" id="loadAll">
        <div class="col-md-12">
            <br />

            @for (int i = 0; i < Model.AllUsers.Count; i++)
            {
                <div class="row">
                    <div class="col-md-9">
                        <h4>User name:</h4>
                        <div>
                            <span>@Model.AllUsers[i]</span>
                        </div>

                    </div>

                    <div class="col-md-3">
                        <span class="text_priority_head">Is banned: </span>
                        <span> @Model.AllUsers[i].IsBanned.ToString()</span>
                        <div id="delete">
                            <br />
                            <button class="btn btn-primary" id="deleteButton" name="@Model.AllUsers[i].Id">Delete</button>
                            <a class="btn btn-primary" asp-action="EditTask">Edit</a>
                        </div>
                    </div>
                    <br />
                </div>
                <div class="row">
                    <div class="col-md-9">
                        <h4>User roles:</h4>
                        <div>
                            @for (int j = 0; j < Model.UserRoles[i].Length; j++)
                            {
                                <span> @Model.UserRoles[i][j]</span>
                                if (j != Model.UserRoles[i].Length - 1)
                                {
                                    <span>,&nbsp;</span>
                                }
                            }
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div>
                            <br />
                            @if (Model.AllUsers[i].IsBanned == true)
                            {
                                <a class="btn btn-success add_new_button" id="UnbanButton" name="@Model.AllUsers[i].Id">Unban user</a>
                            }
                            else
                            {
                                <a class="btn btn-success add_new_button" id="banButton" name="@Model.AllUsers[i].Id">Ban user</a>
                            }
                        </div>
                    </div>
                </div>

                if (i != Model.AllUsers.Count - 1)
                {
                    <br />
                    <hr />
                    <br />

                }
                else
                {
                    <br />
                }

            }
        </div>
    </div>
</div>

<script>
    //delete user
    $("body").on("click", "#deleteButton", function () {
        var id = $(this).attr("name");
        $.ajax({
            url: "DeleteUser?id=" + id,
            type: "POST",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
        }).done(function (id) {
            $("#loadAll").load(location.href + " #loadAll");
            alert("User succesfully removed!");
        })
    })

    //ban user
    $("body").on("click", "#banButton", function () {
        var id = $(this).attr("name");
        $.ajax({
            url: "BanUser?id=" + id,
            type: "POST",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
        }).done(function (id) {
            $("#loadAll").load(location.href + " #loadAll");
            alert("User succesfully banned!");
        })
    })

    //Unban user
    $("body").on("click", "#UnbanButton", function () {
        var id = $(this).attr("name");
        $.ajax({
            url: "UnbanUser?id=" + id,
            type: "POST",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
        }).done(function (id) {
            $("#loadAll").load(location.href + " #loadAll");
            alert("User succesfully unbanned!");
        })
    })
</script>