﻿nav {
    padding-left: 90px;
    padding-right: 90px;
}

main {
    height: 70vh;
}

header {
    height: 70px;
}

.kek {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text_priority_head {
    font-size: 18px;
}

.filter_select_list {
    width: 300px !important;
    display: inline !important;
    margin-left: 10px;
}

hr {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    height: 3px !important;
}
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.add_new_button {
    width: 120px !important;
}

.modal_SendButton {
    width: 15rem;
}

.register_input {
    width: 35% !important;
    display: inline-block !important;
}

#register_head_label {
    padding-left: 39%;
    padding-top: 4%;
    width: 100%;
}

#register_input_body {
    padding-left: 22%;
    padding-top: 1%;
    width: 100%;
}

.register_input_button {
    margin-left: 27%;
}

.regiset_label {
    width: 15%;
    text-align: right !important;
}

.modal_style {
    font-weight: bold;
    padding-left: 5rem !important;
    padding-right: 5rem !important;
    height: 35rem;
}

.btn-success {
    background-color: darkred !important;
    border-color: darkred !important;
}

.btn-success:hover {
   background-color: rgba(139,0,0,0.90) !important;
}