﻿@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}


<div class="row">
    <div class="col-md-12">
        <form asp-route-returnUrl="@Model.ReturnUrl" method ="post">
            <h4 id="register_head_label">Create a new account:</h4>
            <div id="register_input_body">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.UserName" class="regiset_label"></label>
                    <input asp-for="Input.UserName"   placeholder="Input the user name" class="form-control register_input" />
                    <span asp-validation-for="Input.UserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Email" class="regiset_label"></label>
                    <input asp-for="Input.Email" placeholder="Input an email" class="form-control register_input" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password" class="regiset_label"></label>
                    <input asp-for="Input.Password"  autocomplete="new-password" placeholder="Input a password" class="form-control register_input" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.ConfirmPassword" class="regiset_label"></label>
                    <input asp-for="Input.ConfirmPassword"  placeholder="Confirm the password" class="form-control register_input" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.BirthDate" class="regiset_label"></label>
                    <input asp-for="Input.BirthDate"  placeholder="Input your birth date" class="form-control register_input" />
                    <span asp-validation-for="Input.BirthDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.RealName" class="regiset_label"></label>
                    <input asp-for="Input.RealName"  placeholder="Input your real name" class="form-control register_input" />
                    <span asp-validation-for="Input.RealName" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-default register_input_button">Register</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
<script>
    $(document).ready(function () {
        $("input").attr("autocomplete", "false");
    });
</script>